.header {
	@include font('os');
	color: #ffffff;
	background: url('../images/header-bg.jpg') center no-repeat;
	background-size: cover;
	min-height: 930px;
	padding-bottom: 90px;

	&__panel {
		display: flex;
		justify-content: space-between;
		padding-top: 50px;
	}

}

.header-panel {

	&__left {
		display: flex;
	}

	&__text {
		font-size: 13px;
		letter-spacing: 0.25px;
		max-width: 292px;
		margin-left: 56px;
	}

	&__right {
		display: flex;
	}

	&__consultation {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	&__phone {
		display: block;
		@include font('os-eb');
		font-size: 21px;
		letter-spacing: 0.25px;
		margin-bottom: 13px;
		margin-right: 65px;
	}

	&__btn {
		display: inline-block;
		font-size: 11px;
		padding: 10px 15px;
		letter-spacing: .25px;
		text-transform: uppercase;
		border: 1px solid #e8c498;
		border-radius: 10px;
		transition: .3s ease;

		&:hover {
			background-color: #e8c498;
			color: #ffffff;
		}
	}
}

.header-hero {
	padding-top: 150px;

	&__inner {
		position: relative;
	}

	&__info {
		max-width: 620px;
	}

	&__title {
		position: relative;
		margin-bottom: 130px;
		&::before {
			position: absolute;
			content: "";
			background: url('../images/arrow.png');
			width: 57px;
			height: 64px;
			right: 180px;
			bottom: -95px;
		}
		
		.accent {
			text-transform: uppercase;
		}
	}

	&__video-text {
		font-size: 15px;
		line-height: 20px;
		text-align: center;
		max-width: 200px;
		margin: 0 auto;
		position: absolute;
		bottom: -10px;
		left: 0;
		right: 0;
	}

	&__video {
		position: absolute;
		right: 195px;
		top: 50%;
		transform: translateY(-50%);
		width: 230px;
		height: 230px;
	}

	&__video-btn {
		position: absolute;
		display: inline-block;
		width: 240px;
		height: 240px;
		transition: .3s ease;

		&::before {
			position: absolute;
			content: "";
			background: url('../images/play.png') no-repeat center;
			width: 90px;
			height: 90px;
			left: 0;
			right: 0;
			margin: 0 auto;
			top: 50%;
			transform: translateY(-50%);
			border: 2px solid #e6b87c;
			border-radius: 50%;
			z-index: 10;
			transition: .3s ease;
		}

		&::after {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			background: url('../images/play-bg.png') center no-repeat;
			background-size: cover;
			transition: .3s ease;
		}

		&:hover {
			// transform: rotate(360deg);
			&::before {
				border: 2px dashed #ffffff;
			}
			&::after {
				opacity: .3;
			}
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		max-width: 1075px;
		margin-top: 145px;
	}

	&__item {
		position: relative;
		line-height: 20px;
		margin-right: 5px;
		max-width: 320px;
		color: #d4d4d3;
		padding-left: 20px;

		&::before {
			position: absolute;
			content: "";
			background-color: #e6b87c;
			width: 10px;
			height: 10px;
			border-radius: 5px;
			left: 0;
			top: 5px;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.menu {
	position: fixed;
	font-size: 20px;
	text-align: center;
	right: 0;
	width: 300px;
	height: 100%;
	background-color: #e6b87c;
	transition: .3s ease;
	transform: translateX(100%);
	padding: 30px;
	z-index: 99;

	&__close {
		font-size:22px;
		position: absolute;
		display: inline-block;
		right: 15px;
		top: 15px;
		text-align: right;
		cursor: pointer;
		transition: .3s ease;
		&:hover {
			transform: rotate(180deg);
		}
	}

	&__btn {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 30px;
		height: 16px;

		&:hover {

			&::before {
				width: 26px;
			}

			&::after {
				width: 12px;
			}
			
			span {
				width: 22px;
			}
		}

		span {
			display: block;
			width: 30px;
			height: 2px;
			background-color: #e8c498;
			transition: .3s ease;
		}

		&::before,
		&::after {
			position: absolute;
			content: "";
			height: 2px;
			left: 0;
			background-color: #e8c498;
			transition: .3s ease;
		}

		&::before {
			width: 30px;
			top: 0;
		}

		&::after {
			width: 14px;
			bottom: 0;
		}
	}

	&__list {
		margin-top: 50px;
	}

	&__item {
		margin-bottom: 30px;
		transition: .3s ease;
		&:hover {
			color: #000000;
			text-decoration: underline;
		}
	}

	&__link {
		word-wrap: break-word;
	}
}

.menu--active {
	transform: translateX(0);
}